body {
  background-image: url("../images/black-background.webp");
}

#index-main-content {
  text-align: center;
  font-family: "Georgia", "Times New Roman", Times, serif;
  color: white;
  margin: 100px;
}

#resume-main-content {
  text-align: center;
  font-family: "Georgia", "Times New Roman", Times, serif;
  color: white;
  width: 900px;
  margin: 200px;
}

#travel-main-content {
  text-align: center;
  font-family: "Georgia", "Times New Roman", Times, serif;
  color: white;
  margin: 100px;
  width: 80%;
}

#main-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

#main-nav ul li {
  display: inline-block;
}

#edu-section {
  float: left;
}

#skills-section {
  float: right;
}

#main-nav ul li a {
  text-decoration: none;
  padding: 10px 20px;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  background-color: #4078c0;
  display: inline-block;
}

#main-nav ul li a:hover {
  text-decoration: underline; 
}

#hobbies-photos {
  text-align: center;
  display: inline-block;
}

#photo2 {
  width: 900px;
  length: 579px;
  border: 4px solid white; 
  box-sizing: border-box;
}

#photo1 {
  border: 4px solid white; 
  box-sizing: border-box;
}

#photo3 {
  border: 4px solid white; 
  box-sizing: border-box;
}

#photo4 {
  border: 4px solid white; 
  box-sizing: border-box;
}

#photo5 {
  border: 4px solid white; 
  box-sizing: border-box;
}

#logo1 {
  border: 4px solid white; 
  box-sizing: border-box;
}
